<div>
        <h1>Upcoming Angular events</h1>
        <hr>
        <!--
        Iterate along eventObjects and get eventItem in each loop
        Use the eventItem to bind to 'event' property and pass item in handleEventClicked method
        -->
        <div class="row">
            <div class="col-md-5" *ngFor="let eventItem of eventObjects" >
                <event-thumbnail [eventInput]="eventItem" 
                (eventClick)="handleEventClicked(eventItem)"></event-thumbnail>
            </div>
        </div>
    </div>