<div class="container">
        <img [src]="eventObject?.imageUrl" [alt]="eventObject?.name" class='event-image'>
      
        <div class="row">
          <div class="col-md-11">
            <h2>{{eventObject?.name}} </h2>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div><strong>Date:</strong> {{eventObject?.date}}</div>
            <div><strong>Time:</strong> {{eventObject?.time}}</div>
            <div><strong>Price:</strong> ${{eventObject?.price}}</div>
          </div>
          <div class="col-md-6">
            <address>
              <strong>Address:</strong><br />
              {{eventObject?.location?.address}}<br />
              {{eventObject?.location?.city}}, {{eventObject?.location?.country}}
            </address>
          </div>
        </div>
        <!--Passing data to the child element
        Pass the data to the [sessions] property of the <session-list> component
        -->
        <div class="row">
          <div class="col-md-2">
            <h3 style="margin:0">Sessions</h3>
          </div>
          <div class="col-md-2">
              <a (click)="addSession()">Add Session</a>
            </div>
        </div>
        <session-list *ngIf="!addMode" [sessions]="eventObject?.sessions"></session-list>
        <create-session *ngIf="addMode" (saveNewSession)="saveSessionFromChild($event)"
        (cancelAddSession)="cancelAddSessionFromChild()"
        ></create-session>
      </div>